<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: layout-head">
</head>

<body>

<!-- Navigation -->
<nav th:replace="layout :: layout-nav">
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Report Generator</h1>

            <div class="list-group">
                <a href="/home" class="list-group-item">About</a>
            </div>

            <div class="list-group">
            </div>

            <div class="list-group">
                <a class="list-group-item">Choose one of the following actions:</a>
            </div>

            <div class="list-group">
                <a href="/loadFile" class="list-group-item">load file</a>
            </div>

            <div class="list-group">
                <a href="/generalReport" class="list-group-item active">General report</a>
            </div>

            <div class="list-group">
                <a href="/listOfAllClients" class="list-group-item">List of all clients</a>
            </div>

            <div class="list-group">
                <a href="/listOfAllOrders" class="list-group-item">List of all orders</a>
            </div>

            <div class="list-group">
                <a href="/reportByIndex" class="list-group-item">Report by index</a>
            </div>

            <div class="list-group">
                <a href="/orderOfClientPerIndex" class="list-group-item">List of client orders per index</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    General report
                </div>
                <div class="card-body">
                    <p>all client:
                    <p th:text="${allClient}"></p></p>
                    <hr>
                    <p>Number of all orders:
                    <p th:text="${allOrders}"></p></p>
                    <hr>
                    <p>Total amount:
                    <p th:text="${totalAmount}"></p></p>
                    <hr>
                    <p>Average:
                    <p th:text="${average}"></p></p>
                    <hr>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>

</body>

</html>
