<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: layout-head">
</head>

<body>

<!-- Navigation -->
<nav th:replace="layout :: layout-nav">
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Report Generator</h1>

            <div class="list-group">
                <a href="/home" class="list-group-item">About</a>
            </div>

            <div class="list-group">
            </div>

            <div class="list-group">
                <a class="list-group-item">Choose one of the following actions:</a>
            </div>

            <div class="list-group">
                <a href="/loadFile" class="list-group-item active">load file</a>
            </div>

            <div class="list-group">
                <a href="/generalReport" class="list-group-item">General report</a>
            </div>

            <div class="list-group">
                <a href="/listOfAllClients" class="list-group-item">List of all clients</a>
            </div>

            <div class="list-group">
                <a href="/listOfAllOrders" class="list-group-item">List of all orders</a>
            </div>

            <div class="list-group">
                <a href="/reportByIndex" class="list-group-item">Report by index</a>
            </div>

            <div class="list-group">
                <a href="/orderOfClientPerIndex" class="list-group-item">List of client orders per index</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">Load file</p>

                    <form method="post" action="/loadFile">
                        <input type="file" name="file">
                        <input type="submit" value="Send" style="border-radius: 15px">
                    </form>

                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    State:
                </div>
                <div class="card-body">
                    <p>
                    <p th:text="${message}" th:class="'alert-' + ${messageType}"></p></p>
                    <hr>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>

</body>

</html>
