<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" style="color: white">Login page</a>
    </div>
</nav>

<!-- Page Content -->

<div style="margin-left: 45%; margin-right: 45%; margin-top: 13%;">
    <div style="text-align: left; border-color: #5a6268; border-style: solid; border-radius: 20px; padding: 10px">
        <form method="post" action="/login">

            <input id="login" style="margin-top: 20px; width: 100%" name="userName" type="text" placeholder="Tap your name here...">

            <div style="text-align: center">
                <input style="border-radius: 15px; margin-top: 20px; width: 100%; text-align: center" type="submit"
                       value="start">
            </div>

            <div style="text-align: center; margin-top: 10px">
                <p th:if="${message} != null" th:text="${message}"></p>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer th:replace="layout::layout-footer">
</footer>

</body>

<script>

    document.getElementById('login').addEventListener('input', function () {
        validate()
    });

    function validate() {
        let loginField = document.getElementById('login');
        let loginValid = loginField.value.length >= 3;

        if (loginValid) {
            loginField.style.color = 'black';
        }else{
            loginField.style.color = 'red';
        }
    }

</script>

</html>
